# profile backups
profile/*/user-interface.xml.*.bak
profile/profile.xml.*.bak
profile/profile.properties.*.bak
profile/*/profile.xml.*.bak
profile/*/profile.properties.*.bak

signal/WarrantPreferences.xml.bak

# backup panels
backupPanels/*.xml
